In [62]:
import pandas as pd

In [63]:
df = pd.read_excel('/opt/var/downloads/COCA_60000_words.xlsx', index_col=0)

In [64]:
print(df['PoS'].unique())

[' A ' ' V ' ' C ' ' I ' ' T ' ' P ' ' D ' ' X ' ' R ' ' M ' ' N ' ' E '
 ' J ' ' U ']

In [65]:
df.describe()

,TOTAL,SPOKEN,FICTION,MAGAZINE,NEWSPAPER,ACADEMIC
count,6.002300e+04,6.002300e+04,6.002300e+04,6.002300e+04,6.002300e+04,6.002300e+04
mean,6.599242e+03,1.364774e+03,1.324437e+03,1.362564e+03,1.256946e+03,1.290521e+03
std,1.626803e+05,3.649190e+04,3.208469e+04,3.251692e+04,3.081700e+04,3.446096e+04
min,1.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.200000e+01,2.000000e+00,5.000000e+00,1.300000e+01,7.000000e+00,8.000000e+00
50%,1.800000e+02,1.200000e+01,2.800000e+01,4.400000e+01,2.800000e+01,3.200000e+01
75%,8.770000e+02,7.800000e+01,1.480000e+02,2.130000e+02,1.590000e+02,1.650000e+02
max,2.378212e+07,4.873288e+06,4.531786e+06,4.875815e+06,4.646517e+06,5.544528e+06

In [66]:
df.axes

[Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
                10,
             ...
             60015, 60016, 60017, 60018, 60019, 60020, 60021, 60022, 60023,
             60024],
            dtype='int64', name='RANK #', length=60023),
 Index(['PoS', 'word', 'TOTAL', 'SPOKEN', 'FICTION', 'MAGAZINE', 'NEWSPAPER',
        'ACADEMIC'],
       dtype='object')]

In [67]:
df[df['PoS'].str.strip() == 'U']

        PoS       word   TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
258      U         yes  173566  104462    44654     10869       9358      4223
411      U          oh  113609   61464    38935      6657       4921      1632
429      U        yeah  116972   91462    20024      2962       2194       330
914      U          no   50113   25461    14266      4241       3998      2147
1433     U         hey   30050   12267    12530      2620       2383       250
...     ...        ...     ...     ...      ...       ...        ...       ...
59253    U       hi-ho      21      11        9         1          0         0
59549    U        egad      20       1       11         7          1         0
59637    U        zzzz      27       2        0         8         17         0
59784    U     aye-aye      33       0       10         5          0        18
59868    U     yes-yes      25       0       24         0          0         1

[180 rows x 8 columns]

In [68]:
df.groupby('word').filter(lambda x: len(x) > 1)

,PoS,word,TOTAL,SPOKEN,FICTION,MAGAZINE,NEWSPAPER,ACADEMIC
RANK #,,,,,,,,
3,C,and,11654439,2347151,2188166,2388111,2130798,2600213
5,A,a,10999596,2110287,2125067,2496150,2331699,1936393
6,I,in,7557934,1385889,1117519,1580617,1600390,1873519
7,T,to,6868227,1666909,1259251,1380223,1308448,1253396
8,V,have,5335769,1369956,1275240,954391,1012197,723985
...,...,...,...,...,...,...,...,...
59839,N,halloo,27,1,22,0,3,1
59864,N,anthropoid,41,0,2,33,0,6
59923,J,scripting,25,0,0,4,0,21
59981,N,omani,38,3,23,1,4,7
59982,N,alveolar,29,0,0,0,0,29

In [69]:
df[df['PoS'].str.strip() == 'T']

        PoS   word    TOTAL   SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
7        T      to  6868227  1666909  1259251   1380223    1308448   1253396
21764    T       a      371        9      287        48         21         6
41997    T     tae       59       10       16         4         13        16

In [70]:
df[df['PoS'].str.strip() == 'X']

        PoS   word    TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
28       X     not  1771490  442938   347150    296541     300958    383903
29       X     n't  1744284  529586   581365    299024     289779     44530

In [71]:
df[df['PoS'].str.strip() == 'E']

        PoS     word   TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
53       E     there  846483  301556   155571    135904     139865    113587

In [72]:
df[df['word'].str.strip() == 'abstract']

        PoS        word  TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
4038     J     abstract   7556     343      600      1672        774      4167
17347    V     abstract    627      19       52        99         28       429
19990    N     abstract    801       8       47       103         54       589

In [73]:
df[df['word'].str.strip() == 'a']

        PoS word     TOTAL   SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
5        A     a  10999596  2110287  2125067   2496150    2331699   1936393
21764    T     a       371        9      287        48         21         6

In [74]:
df[df['word'].str.strip() == 'there']

        PoS     word   TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
53       E     there  846483  301556   155571    135904     139865    113587
116      R     there  359766  149102   102884     43225      47195     17360

In [75]:
df[df['word'].str.strip() == 'to']

        PoS  word    TOTAL   SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
7        T     to  6868227  1666909  1259251   1380223    1308448   1253396
9        I     to  4176664   768794   791336    870507     803354    942673

In [76]:
df[df['word'].str.strip() == 'tae']

        PoS   word  TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
41997    T     tae     59      10       16         4         13        16

In [77]:
df[df['word'].str.strip() == 'not']

        PoS   word    TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
28       X     not  1771490  442938   347150    296541     300958    383903
2923     C     not    12064    6249      921      1446        880      2568
36443    R     not       86      43        8         6          7        22

In [78]:
df[df['word'].str.strip() == "n't"]

        PoS   word    TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
29       X     n't  1744284  529586   581365    299024     289779     44530

In [79]:
df[df['word'].str.strip() == "often"]

        PoS     word   TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
274      R     often  151696   14684    14672     43524      28867     49949

In [80]:
df[df['word'].str.strip() == "second"]

        PoS      word   TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
381      M     second  112893   16937    15972     20797      27458     31729
682      N     second   61515   13166    15956     13314      12045      7034
19312    V     second     510      49       89       100        167       105

In [81]:
df[df['word'].str.strip() == "yes"]

        PoS   word   TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
258      U     yes  173566  104462    44654     10869       9358      4223

In [82]:
df[df['word'].str.strip() == "no"]

        PoS  word   TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
93       A     no  433546   89216   102749     84267      80340     76974
698      R     no   58967    8435    14968     12821      10315     12428
914      U     no   50113   25461    14266      4241       3998      2147
1105     P     no   37912    7980    13117      7042       6600      3173
4547     D     no    6083    1984     1288      1318       1008       485

In [101]:
df[df['word'].str.strip() == "boo"]

        PoS   word  TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
13108    V     boo   1012     265       96       179        440        32
21107    N     boo    583      70      135       132        205        41
21206    U     boo    422     135      137        54         79        17

In [84]:
df[df['word'].str.strip() == "cliché"]

        PoS      word  TOTAL  SPOKEN  FICTION  MAGAZINE  NEWSPAPER  ACADEMIC
RANK #
20497    N     cliché    545      42      149       170         35       149

In [88]:
df[~df.word.str.fullmatch(r'\s*[a-z]+\s*')].count()

PoS          12977
word         12977
TOTAL        12977
SPOKEN       12977
FICTION      12977
MAGAZINE     12977
NEWSPAPER    12977
ACADEMIC     12977
dtype: int64

In [89]:
df.count()

PoS          60023
word         60023
TOTAL        60023
SPOKEN       60023
FICTION      60023
MAGAZINE     60023
NEWSPAPER    60023
ACADEMIC     60023
dtype: int64

In [90]:
df[df.word.str.fullmatch(r'\s*[a-z]+\s*')].count()

PoS          47046
word         47046
TOTAL        47046
SPOKEN       47046
FICTION      47046
MAGAZINE     47046
NEWSPAPER    47046
ACADEMIC     47046
dtype: int64

In [97]:
df[df.word.str.fullmatch(r'\s*[a-z]+\s*')]['word'].unique()

array(['  the', '  be', '  and', ..., '  gaoler', '  carcinoid',
       '  tonus'], dtype=object)