In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# sqlite = create_engine('sqlite://:memory:')
# with sqlite.connect() as conn:
    
from urllib.parse import quote_plus as urlquote
host="synology-ds918.local"
password = "Hello@123456"
db_url = f'mysql+pymysql://deploy:{urlquote(password)}@{host}:3306/sample_dbs?charset=utf8'
mysql = create_engine(db_url)

sql = "SELECT * FROM region WHERE level = 3"
with mysql.connect() as conn:
    df = pd.read_sql(sql, con=conn)
    df.set_index('id', inplace=True)
    print(df.head())
    print(df.info())

        name     pid sname  level citycode  yzcode         mername      Lng  \
id
110101   东城区  110100    东城      3      010  100010   中国,北京,北京市,东城区  116.410
110102   西城区  110100    西城      3      010  100032   中国,北京,北京市,西城区  116.360
110105   朝阳区  110100    朝阳      3      010  100020   中国,北京,北京市,朝阳区  116.485
110106   丰台区  110100    丰台      3      010  100071   中国,北京,北京市,丰台区  116.286
110107  石景山区  110100   石景山      3      010  100043  中国,北京,北京市,石景山区  116.223

            Lat       pinyin
id
110101  39.9316    Dongcheng
110102  39.9305      Xicheng
110105  39.9484     Chaoyang
110106  39.8585      Fengtai
110107  39.9056  Shijingshan
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3341 entries, 110101 to 820301
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3341 non-null   object
 1   pid       3341 non-null   int64
 2   sname     3341 non-null   object
 3   level     3341 non-null   int64
 4   citycode  3341 non-null   object
 5   yzcode    3341 non-null   object
 6   mername   3341 non-null   object
 7   Lng       3341 non-null   float64
 8   Lat       3341 non-null   float64
 9   pinyin    3341 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 287.1+ KB
None