In [13]:
import pandas as pd

In [14]:
# 索引
index_arrays = [[1, 1, 2, 2], ['男', '女', '男', '女']]
index_arrays

[[1, 1, 2, 2], ['男', '女', '男', '女']]

In [15]:
# 列名
columns_arrays = [['2019', '2019', '2020', '2020'], ['上半年', '下半年', '上半年', '下半年']]
columns_arrays

[['2019', '2019', '2020', '2020'], ['上半年', '下半年', '上半年', '下半年']]

In [16]:
# 索引转换为多层
index = pd.MultiIndex.from_arrays(index_arrays, names=('班级', '性别'))
index

MultiIndex([(1, '男'),
            (1, '女'),
            (2, '男'),
            (2, '女')],
           names=['班级', '性别'])

In [17]:
# 列名转换为多层
columns = pd.MultiIndex.from_arrays(columns_arrays, names=('年份', '学期'))
columns

MultiIndex([('2019', '上半年'),
            ('2019', '下半年'),
            ('2020', '上半年'),
            ('2020', '下半年')],
           names=['年份', '学期'])

In [19]:
# 应用到DataFrame中
df = pd.DataFrame([(88,99,88,99),(77,88,97,98), (67,89,54,78),(34,67,89,54)], columns=columns, index=index)
df

年份    2019     2020
学期     上半年 下半年  上半年 下半年
班级 性别
1  男    88  99   88  99
   女    77  88   97  98
2  男    67  89   54  78
   女    34  67   89  54

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, (1, '男') to (2, '女')
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   (2019, 上半年)  4 non-null      int64
 1   (2019, 下半年)  4 non-null      int64
 2   (2020, 上半年)  4 non-null      int64
 3   (2020, 下半年)  4 non-null      int64
dtypes: int64(4)
memory usage: 540.0+ bytes

In [22]:
df.columns.names

FrozenList(['年份', '学期'])

In [23]:
df.loc[(1, '男')]

年份    学期
2019  上半年    88
      下半年    99
2020  上半年    88
      下半年    99
Name: (1, 男), dtype: int64

In [25]:
df.loc[(1, '男'), '2020']

学期
上半年    88
下半年    99
Name: (1, 男), dtype: int64